<div class="container">
<div class="c-page-title c-pull-left">
<h3 *ngIf="loggedIn;else visitor_text" class="c-font-uppercase c-font-sbold c-pull-left">Welcome {{name}}!</h3>
<h4 *ngIf="loggedIn" class="c-font-uppercase c-font-sbold c-pull-left"><a href="/home" (click)="logout()">Logout</a></h4>
</div>
<ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
  <li>Need <span><a routerLink="contact">Help</a></span>?</li>  
</ul>
</div>
<ng-template #visitor_text>
  <h3 class="c-font-uppercase c-font-sbold c-pull-left">Welcome! </h3>
  Don't have an account? Click <span><a href="/register">here</a></span> to create an account!
</ng-template>
<!-- 
<ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
  
</ul> -->
