<div class="row">
        <div class="col-sm-12 wow animate fadeInUp">
            <h2 class="title"> About Webshop Project 56</h2>			
            <p>General</p>
            <p><i>Project 56</i> is an assignment from the Rotterdam University of Applied Sciences of making a webshop.</p>
            <p>For this assignment we form project groups and we choose a subject to focus on.</p>
            <p>This is a website made with Angular.</p>
            <p>Have a look around and for any questions you can fill in the contact form.</p>
            <p>Greetings from the Project56 group,</p>
            <br>
            <p>Bram, Jaap-Jan, Jinxi and Sophie</p>
        </div>
      </div>
  