<div class="container">
  <div class="c-layout-sidebar-menu c-theme ">
    <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
    <div class="c-sidebar-menu-toggler">
      <h3 class="c-title c-font-uppercase c-font-bold">Navigation</h3>
      <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
        <span class="c-line"></span>
        <span class="c-line"></span>
        <span class="c-line"></span>
      </a>
    </div>
    <app-category></app-category>
    <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
  </div>
  <div class="c-layout-sidebar-content ">
    <alert></alert>
    <!-- BEGIN: PAGE CONTENT -->
    <router-outlet></router-outlet>
    <!-- END: PAGE CONTENT -->
  </div>
</div>
